.btn{
  display: flex;
  gap: 10px;
  align-items: center;
  width:fit-content;
  height:5rem;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: Inter, sans-serif;
  line-height: 1;
  background-color:transparent;
  border:none;
  border-radius:20rem;
  
  &--search{
    width:2.4rem;
    height:2.4rem;
    background-image :url('/assets/search.svg');
    background-size: cover;
  }

  &--primary{
    padding: 1.2rem 2.4rem 1.4rem;
    color: $grey;
    background-color:$primary;

    &:hover, &:focus, &:active{
      color:$white;
      background-color:$primary;
      filter:brightness(90%);
    }
  }

  &--secondary{
    padding: 1.2rem 2.2rem 1.4rem;
    color:$primary;
    border: 1px solid $primary;
  }
}