html {
  margin:0 auto;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

.container{
  max-width:1440px;
  padding:0;

  &--column{
    flex-direction: column;
  }

  &--medium{
    max-width:104rem;
  }
}